body {
    font-family: comic sans ms;
    background-color: red;
}

button {
    font-family: comic sans ms;
    background-color: darkred;
    color: black;
}

input {
    font-family: comic sas ms;
    background-color: darkred;
    color: black;
}